body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Robot{
    height: 500px;
    width: 600px;
  }
  div div {
    background: #A4CA39;
    position: relative;
  }
  
  .tete{
    width: 300px;
    height: 150px;
    top: 32px;
    left:65px;
    border-radius: 220px 220px 0 0;
  }
  
  .goeille,.doeille{
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 42px;
    border-radius: 100%;
  }
  
  .doeille{
    left: 50px;
  }
  
  .goeille{
    right: 50px;
  }
  .corps{
  width: 200px;
  height: 184px;
  top: 42px;
  border-radius: 0 0 25px 25px;
}


.dm,.gm,.dp,.gp{
  width: 50px;
  position: absolute;
}

.dm,.gm{
  height: 120px;
  border-radius:  30px 30px;
}

.gp,.dp{
  height: 150px;
  top: 130px;
  border-radius: 0 0 30px 30px;
}
.dm{
    left: -50px;
  }
  
.gm{
    right: -50px;
  }
.dp{
  left: 120px;
}

.gp{
  right: 120px;
}
