body {
    background-image: url(https://media.istockphoto.com/photos/spring-background-blue-forgetmenot-flowers-on-pastel-background-copy-picture-id958502944);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  background-color: aqua;
}
td{
    color: purple;
}
th{
    color:rgb(233, 2, 156);
}
h1{
    color: pink;
    background-color: cadetblue;

}
h2{
    color: red;
    background-color:palevioletred ;

}
#div1{
    border:2px solid blue;
    background-color: pink;
}
#p1{
    color: green;
}
#p2{
    color: black;
}
.imge{
    border: 5px solid purple;
    box-shadow: rosybrown;

}
#div2{
    background-color: pink;
}
li{
    padding-right: 15px;
}
ul{
    float: right;
    color: rgb(19, 6, 8);

}
